@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-sm:hover,
.button-text:hover,
.button-lg:hover,
a:hover {
  opacity: 0.66;
}

.sig::before {
  position: absolute;
  left: -2ch;
  content: "~"
}

.sig, .caret {
  position: relative;
}

.caret::before {
  position: absolute;
  left: -2ch;
  content: ">"
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
