@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-sm:hover,
.button-text:hover,
.button-lg:hover,
a:hover {
  opacity: 0.66;
}

.sig::before {
  position: absolute;
  left: -2ch;
  content: "~"
}

.sig, .caret, .back {
  position: relative;
}

.caret::before {
  position: absolute;
  left: -2ch;
  top: -25%;
  content: ">"
}

.back::before {
  position: absolute;
  left: -2ch;
  top: -25%;
  content: "<-"
}

.markdown a {
  @apply break-words;
}

h1, h2, h3, h4, h5 {
  font-family: "Urbit Sans" !important;
}