html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-sm:hover,
.button-text:hover,
.button-lg:hover,
a:hover {
  opacity: 0.66;
}

.markdown a {
  @apply break-words;
}

.border-l-hack::after {
  @apply border-l border-dashed border-wall-400 absolute top-4 z-0;
  height: calc(100% - 1rem);
  left: -1px;
  content: "";
}
